<%-include("./partials/header") %>

<section class=" mt-2 mb-2">
        <div class="container mt-5 ">
          <div class="row mt-5">
            <div class="col-md-6">
              <div class="info-left">
                <img src="images/topDrives.webp" style="width: 60%">
              </div>
            </div>
            <div class="detalle col-md-6 my-auto">
              <div class="info-right ">
                <h1>Nombre de la App</h1> <br>
                <br>
                
                <h6>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam quas nulla vel odit perferendis excepturi, possimus tenetur quam neque commodi aut mollitia numquam officia nam magni adipisci, ratione quo dignissimos.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, repellat minus natus provident perferendis consectetur eum sapiente eius? Eligendi quasi, sit quod molestiae praesentium eaque unde nihil saepe illum autem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laboriosam eius at est quod qui nihil repellat, distinctio, explicabo amet cumque inventore accusantium nemo totam asperiores fugit commodi! Dolores, illum?
                </h6><br>
                <h3 class="card-text">$ 3999</h3>
                  <a href="/applications/compra" ><button type="button" class="btn btn-primary mt-3">Comprar</button></a>
              </div>
            </div>
        </div>
        </section>
<section class="descripcion col-md-6  mt-4">
    <p>
        Cerebro de gasolina, cabezas de pistón, gira la llave de Top Drives, el desafío de manejo de alto octanaje que pondrá tus habilidades y conocimientos a prueba hasta el límite. ¿Crees que sabes todo sobre autos? Top Drives es un juego nuevo de coleccionar cartas con más de 1900 autos reales para coleccionar y competir en carreras con otros jugadores. <br>

Crea un garaje y llénalo con autos personalizados para crear tu mazo de cartas perfecto y disfrutar de la acción contra tus amigos y demás jugadores. No importa lo que desees, un afinado deportivo americano, un feroz bólido japonés y quizá algo de turbo con un ágil deportivo europeo, encontrarás un auto que te prenda en serio en Top Drives: el juego de colección de cartas de autos de carreras GRATUITO. <br>

En Top Drives manejas autos a través de una gran variedad de carreteras, pistas y desafíos, y si te gusta manejar rápido y un poco furioso, Top Drives te encantará. Pisa a fondo en los circuitos de asfalto, derrapa tus llantas en sinuosos circuitos, domina el arte del derrape en las pruebas de fuerza G o vuela de 1 a 160 k/m hasta la bandera a cuadros en carreras de arrancones. Elige el Mustang, el Camaro, el Porsche Turbo, el Audi TT o el Nissan GTR, pero asegúrate de tener el auto correcto para la pista correcta. Necesitarás un garaje lleno de autos rápidos para piso mojado, todoterreno, que dominen esas esquinas y sean capaces de quemar llanta en carreras de drags. <br>

¿Por qué Top Drives es la mejor experiencia para los fans de los autos? <br>
<br>

Características: <br>

- Construye el mazo de autos de carreras perfecto con más 1900 autos con licencias oficiales
- Marcas como McLaren, Bugatti, Pagani, Porsche, Mercedes, Audi, Mustang y más
- Con estadísticas reales de Evo Magazine, este es el juego de carreras referente definitivo
- Libera tus autos en cientos de pistas de desafíos con nuestro Sistema de carreras de tarjetas totalmente nuevo <br>
- Administra, mejora y afina tus autos: conviértete en el mejor administrador de autos de competición <br>
- Compite contra amigos en paisajes que te impresionarán, incluyendo pistas de arrancones, circuitos de carreras y carreras cuesta arriba <br>
- Compite por autos exclusivos en eventos multijugador en directo contra tus rivales
- Efectos de clima y diferentes tipos de superficies, incluyendo terracería, asfalto y nieve
- Asombrosas fotos de autos de una de las mejores revistas de autos del mundo
- Jugabilidad estratégica de carreras turbocargadas, adictivas y divertidas <br>

¡Haz tuyos los caminos, empieza a coleccionar los autos más nuevos y geniales, personalízalos con mejoras y véndelos ya tuneados para crear tu garaje perfecto! Top Drives tiene rápidas campañas de un jugador y modos de locura multijugador con batallas veloces para alcanzar la bandera a cuadros. ¡Top Drives es una combinación de coleccionismo estratégico de cartas con el tema de carreras a toda máquina! <br>

Fusiona tus autos existentes, recibe una ventaja y lleva a tus bólidos al límite. Conviértete en un campeón del volante con la mejor combinación de rendimiento, manejo y agarre. Enciende tus motores. Lánzate a la carretera con Top Drives y libera las emocionantes actualizaciones, sal a la pista con los autos más geniales y rápidos de Porsche, McLaren y Mustang, además de disfrutar de nuevos modos de juego y eventos con temas de la cultura del automovilismo a nivel mundial. <br>
<br>

Así que, abróchate el cinturón, deja de soñar y empieza a conducir. <br>
<br>

Descarga Top Drives hoy y hazlos comer polvo. <br>

Dinos qué quieres ver en el juego: www.hutchgames.com
Nuestra política de privacidad: http://www.hutchgames.com/privacy/
Nuestros términos de servicio: http://www.hutchgames.com/terms-of-service/
Puedes jugar Top Drives de forma gratuita, aunque ofrece algunos artículos opcionales que se pueden comprar por dinero real dentro del juego. Top Drives es un juego en línea que necesita una conexión estable a Internet para jugar.
    </p>
</section>
       


<section class="opiniones col-md-6 my-auto">
    <div class="container mt-5 ">
        <div class="row mt-5">
    <h3>Opiniones</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque quas dolores nihil quae, sint enim architecto quo hic molestias? Tempore asperiores quaerat tenetur maxime architecto. Cupiditate, ipsum. Nam, quos repudiandae.</p> <br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim facere laboriosam reprehenderit aliquid iure adipisci ex vitae odit ipsam quasi praesentium mollitia, facilis sint obcaecati expedita consequuntur, id voluptatum illo.</p>
</div>
</div>

</section>

<section class="comentarios">
    <div class="form-group col-md-6">
        <label for="exampleFormControlTextarea1"><b></b></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="detalle" placeholder="Dejanos tu comentario" rows="3"></textarea>
        
      </div>
</section>


<%-include("./partials/footer") %>
    