body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:rgb(53, 58, 68);
  
}
.card-body{
background-color: whitesmoke;
}

a {
  color: #00B7FF;
}

h1 {
  color: whitesmoke;
}
footer{
  background-color: crimson;
  color: wheat;
  height: 31px;
}
.encabezados{
  background-color: crimson;
  color: wheat;

}
.lansamientos{
background-color: crimson;
color: wheat;
}
.form-group{
  color: antiquewhite;
}
.opiniones {
  color: antiquewhite;
}
.detalle{
  color: antiquewhite;
}
.descripcion {
  color: antiquewhite;
}